.message-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 10px;
}

.message-item {
  display: flex;
  width: 100%;
  gap: 10px;
}

.message-item_detail {
  display: flex;
  align-items: center;
  gap: 5px;
}

.message--owner {
  flex-direction: row-reverse;
  margin-left: auto;
}

.message--owner .message__content {
  background-color: #97a8d2;
}

.message__avatar {
  width: 30px;
  height: 30px;
  align-self: flex-end;
  border-radius: 50%;
  background-color: #ccc;
}
.message__avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.message__content {
  width: 70%;
  border-radius: 20px;
  padding: 10px 15px;
  background-color: rgb(242, 242, 242);
}

.message__content p {
  margin: 0;
  color: #000000;
}
