.form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-item label {
  font-weight: bold;
}
