.input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

.input:focus {
  outline: none;
  border-color: #333;
}

.input-error {
  border-color: #db3c3c;
}

.input-error:focus {
  border-color: #db3c3c;
}
